body
{
	background-color:#F5F5F5;
	margin:50px;
	margin-top: 25px;
	font-family: 'Kumbh Sans', sans-serif;

}



.textbox, textarea
{
	border: 0px none;
	background-color:  #F5F5F5;
	border-radius: 25px;
	height: 40px;
	width:95%;
	padding:15px;
	font-size: 20px;
}

.tag
{
	border-radius: 25px;
	border: 0px none; 
	padding:5px;
	font-size: 15px;
	margin-right: 5px;
	font-weight: bold;
	color:white;
	background-color: #29b6f6;
}

.textbutton
{
	
	border: 0px none; 
	background-color:  #F5F5F5;
	border-radius: 25px;
	height: 30px;
	width:100%;
	padding:15px;
	font-size: 20px;
}
input:focus{

	outline-width: 0;
	 outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;

}
hr{
	border: 2px solid #F5F5F5;
		border-radius: 5px;
}
.box{
	background-color:white; 
	

	padding: 20px;
	box-shadow: 0px 1px 1px 1px #ccc;

	border-radius: 25px;
	width:100%;
}
a:hover{
	text-decoration: underline;
	cursor: pointer;
}
a{

	font-weight: bold;
	color: #29b6f6;
	text-decoration: none;
	display:inline-block;
	padding-right: 10px;
}

/*Styles for posts*/


.card {
    display: grid;
    grid-gap: 0px;
	grid-auto-columns: min-content 80%;

	line-height:22px;
	padding-top:25px;
}

.card h1, .card h2, .card h3{
	margin-bottom: 5px;
	margin-top: 0px;
}


.profilePic {
	grid-column: 1 ;
	grid-row: 1 /4;
	/*align-items: center;*/
	padding-right:12px;
	 display: flex;

	
	 /*justify-content: center;*/
	justify-self: center;

}
.name {
	grid-column: 2 ;
	grid-row: 1 ;

	display: flex;
		align-items: center;



}
.properties {
	grid-column: 2 ;
	grid-row: 2 ;


}
.buttons {
	grid-column: 2;
	grid-row: 3 ;
	padding-top: 5px;


}

img { 
	width: 50px; 
	height: 50px;
}

/*styles for survey*/
.survey{
	background-color: #29b6f6;
	color: white;
	padding: 0px;
	margin: 0px;
	
	align-items: center;
 	display: flex;
 	justify-content: center;

	overflow: hidden;


}

.surveyContent{

	width: 50%;
	border-left: 0px dashed transparent;
	position: relative;
	overflow: none;
}


.surveyContentHolder{

	overflow: none;
	width: 60%;
}

.surveryQuestion{
	text-align: left;
	border: 0px none;

	height: 40px;
	width: 100%;
	min-width: 60%;
	padding:0px;
	font-size: 20px;

	outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    background-color: transparent;

	color: white;
}

.surveryQuestion::placeholder {
  color: white;
  opacity: 0.5; /* Firefox */
}


.surveyButton{
	border-radius: 15px;
	 border: 1px solid white;
  	background-color: rgba(255, 255, 255, 0.1);

	padding:20px;

	font-size: 15px;
	margin-right: 5px;
	font-weight: bold;
	color: white;

}


.surveyButton:hover{
	background-color: rgba(255, 255, 255, 0.3);
	cursor: pointer;
}

