<div class="pageContent" style="width:100%">
   <style>
      .box{
         width:40%;
      }
      p{
         line-height: 20px;
      }
   </style>
   <div style="grid-column: 1/3;">
      <div class="title"><h1><u>About Us:</u></h1></div>
      <h2>Our Mission:</h2>
      <div class="box">
         <p>Blue Rhino is a web app that offers an innovative new way for individuals to create and share their business cards in a completely virtual way.</p>
         <p>Our organization&#39;s long-term goal is to create a fully functional web app for either the eco-conscious consumer or business professional through the use of online business cards. In order to accomplish this we will create a seamless process to create user accounts, connect email and cell to our platform, and to easily connect with others with our platform.</p>
      </div><br>

      <h2>Choose your fighter: <span style="font-size:12px">(Meet the team)</span></h2>
      <div class="box">
         <b>Rebekah Hatcher - Project Manager:</b><br>
             <p> English socialite, Harvard grad, and heiress to the renowned Hatcher fortune. When Rebekah isn't indulging in equestrian competitions, she enjoys fencing and the occasional yacht race.</p>
      </div><br>

      <div class="box">
         <b>Mustafa Ahmed - Remote Collaboration and Documentation Manager:</b><br>
         <p>Tragically born without a face at the age of six, Mustafa has had to overcome many obstacles on his path to success. But he's never let that slow him down. Through hard work and perserverence, he's managed to rise to the top of his field.</p>
      </div><br>

      <div class="box">
         <b>Brijen Patel - Requirements Manager, Video Editor:</b><br>
         <p>Favorite quote: "Dream big. Start small. But most of all start" -Simon sinek</p>
      </div><br>

      <div class="box">
         <b>Marc Fervil - Lead Front-End Developer:</b><br>
            <p>  Hi- Long time Caller, first time listener  <br>
             I hope you’re sitting down, cause I’m a standup guy<br>
            I enjoy the long walks on the beach and being indescisive about my opening line<br>
            <span style="margin-left:-50px;margin-top:20px">I do CSS good</span>
         </p>
      </div><br>

      <div class="box">
         <b>Graham Plank - Lead Back-End Developer:</b><br>
         <p>Game Developer / Electronic Artist / Hard-Light Projection<br>
         Right now I'm working on:</p>
         <ul>
              <li>You Played Yourself</li>
              <li>Frog Wednesday 2</li>
              <li>Netstat</li>
              <li> ...Passport!</li>
         </ul>
      </div><br>

      <div class="box">
         <b>Jack Lake - Planning Manager:</b><br>
             <p>Hard-nosed business tycoon Jack Lake spent years working his way to the top. Through a long and experienced career, Jack has learned to seal deals and pass no buck. </p>
      </div><br>

      <div class="box">
         <b>Thomas Ashby - Presentation Manager:</b><br>
         <p>Literally just some guy we pulled in off the street.</p>
      </div><br>
   </div>
</div>
