

<div class="pageContent" style="width:100%">

	<style>
	h2{
		margin: 0px;
		padding: 0px;

	}
	.box{
		width: 100%;
	}

	</style>


	<div>
		<span ><h1><u>Frequently Asked Questions:</u></h1></span>
		<div>

			<div class="box">
				<h2>Why Choose Passport?</h2>
				<hr>

				As people grow towards becoming completely online, the amount of platforms to keep up with has become overwhelming.
				Imagine the simplicity of having all the information you need, all in one place, and all on one card. With Passport you can
				link your Instagram, Facebook, Linkedin, Etsy and anything else you need all to the same online business card, designed
				to fit your personality or your business. Making things easier to network and keep track of. That’s what we hope to provide
				to today’s busy professionals, students, and consumers; an all in one platform to share your information or to find it.
			</div>
			<br>

			<div class="box">
				<h2>How Does Using Passport Help The Environment? </h2>
				<hr>
				On average each year 8 million trees are cut down to print over 10 billion business cards and
				88% of these cards are either thrown away, misplaced, or destroyed. By eliminating the traditional
				business card and moving online we can do our part to curb global warming.
			</div>
			<br>

			<div class="box">
				<h2>How Do I Know My Information Is Safe?</h2>
				<hr>
				Our data is stored in highly-secure, top-of-the line Amazon servers. Old man Bezos sits out front with a shotgun, and he's assured us it's all safe as houses.
			</div>
			<br>

			<div class="box">
				<h2>Who Do I Ask About Refilling My Propane Tank?</h2>
				<hr>
				<p>I think you may have the wrong Blue Rhino.</p>
			</div>
			<br>

			<div class="box">
				<h2>What Sort Of Clientele Do You Think Would Benefit From Using This Platform?</h2>
				<hr>
				Listen, champ - we've got a primo service here, custom made for the highest-rolling business fat-cats. If are the sort of person who at any point in their life, finds themselves stacking mad bills, then we want to personally help you spread the word. Oh, and celebrities. We've got all the good ones.
			</div>
			<br>

			<div class="box">
				<h2>Even Beyonce?</h2>
				<hr>
				Yes
			</div>
		</div>

	</div>
</div>
